@font-face {
  font-family: Orbitron;
  src: url("./assets/Orbitron-Regular.ttf");
}
.contact {
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head{
    width: 100%;
    text-align: left;
    color: #aed2ff;
    padding:20px 50px;
}

.form {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  padding: 0 50px;
}
.nameInput,
.emailInput,
.textArea {
  height: 40px;
  width: 50%;
  font-size: 18px;
  padding: 4px;
   font-family: Orbitron;
  border: 2px solid #aed2ff;
  background-color: #1f4068;
  outline: none;
  color: #0e1833;
  /* border: 2px solid #d65a31; */
}
.textArea {
  height: 150px;
   font-family: Orbitron;
}

.nameInput:active,
.nameInput:focus,
.emailInput:active,
.emailInput:focus,
.textArea:active,
.textArea:focus {
  border: 2px solid #d65a31;
  background-color: #0e1833;
  transition: all 0.3s ease;
  color: #aed2ff;
}
.btn{
    display: flex;justify-content: center;align-items: center;
    gap: 10px;
    height: 40px;
    font-size: 18px;
    padding: 4px 50px;
    border: 2px solid #aed2ff;
    background-color: #1f4068;
    outline: none;
   font-family: Orbitron;
    color: #aed2ff;
}
.btn:active,.btn:focus{
    border: 2px solid #d65a31;
    background-color: #0e1833;
    transition: all 0.3s ease;
}


@media (max-width: 55em) {
  .nameInput,
  .emailInput,
  .textArea {
    width: 80%;
  }
}
