.ticker_container {
    width: 100%;
    overflow: hidden;
    color: #aed2ff;
    background-color: #1f4068;
    border: 2px solid #aed2ff;
    border-left: none;
    border-right: none;

  }
  .Marquee{
    overflow: hidden;

  }
  
  .ticker {
    width: 100%;
    display: flex;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
  }
  
  .ticker:hover {
    animation-play-state: paused;
  }
  .ticker_container:hover{
    color: #d65a31;
    background-color: #0e1833;
    border: 2px solid #d65a31;
    border-left: none;
    border-right: none;
  }
  
  .ticker_item {
    padding: 5px 30px;
    flex-shrink: 0;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  